<header>
    <app-form-input-field 
        [type]="'text'" 
        [placeholder]="'Pesquisar...🔎'" 
        [id]="'search'" 
        (input)="onInputChange($event)">
    </app-form-input-field>

    <div class="user-info">
        <mat-slide-toggle class="example-margin" (change)="toggleTheme($event)"><p id="textTheme">Tema escuro</p></mat-slide-toggle>
        <span>{{ user }}</span>
        <div class="user-avatar"><i class="fa-solid fa-user"></i></div>
        <app-button-form [id]="'logout'" [textBt]="'Sair'" type="button" class="logout" (click)="logout()"></app-button-form>
    </div>
</header>

