aside {
  background-color: var(--aside);
  border-right: 20px solid var(--border);
  padding: 1em;
  height: 100%;
}

.logo-acronym {
  font-size: 2em;
  font-weight: bold;
  color: var(--logo-acronym);
}

.subtitle {
  color: var(--black);
}

.logo {
  border-radius: 8px;
  background-color: var(--logo);
  margin: 15px 0px 20px 0px;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 3em;
  padding: 10px;
  display: flex;
}

.menu a {
  display: block;
  text-decoration: none;
  color: var(--black);
  border-radius: 8px;
  transition: background 0.3s;
  padding: 1em;
  margin: 5px;
  font-size: 1em;
}

.menu a:hover {
  background-color: var(--border);
}

.menu a.active {
  color: var(--active);
  border-radius: 8px;
  box-shadow: 1px 1px 2px var(--shadow);
  background-color: var(--border);
}
