<aside>
    <div class="logo">
        <span class="logo-acronym">OC</span>
        <span class="subtitle">Operação Curiosidade</span>
    </div>

    <nav class="menu">
        <a routerLink="/dash" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-house"></i> Home</a>
        <a routerLink="/registers" routerLinkActive="active"><i class="fa-solid fa-users"></i> Cadastros</a>
        <a routerLink="/report" routerLinkActive="active"><i class="fa-solid fa-square-poll-vertical"></i> Relatórios</a>
        <a routerLink="/history" routerLinkActive="active"><i class="fa-solid fa-clock-rotate-left"></i> Histórico de ações</a>
    </nav>

</aside>
