.user-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--table);
  border-radius: 8px;
  overflow: hidden;
  padding: 1em;
}

caption {
  text-align: left;
  padding: 1em;
  font-weight: bold;
  color: var(--caption);
}

tr:hover {
  background-color: var(--border);
  cursor: pointer;
}

th, td {
  padding: 1em;
  border-bottom: 1px solid var(--td);
  text-align: left;
  color: var(--black);
}

.status-inactive td {
  color: var(--inactive);
  opacity: 0.8;
  font-style: italic;
}

.edit-btn{
  background-color: var(--actions);
  color: var(--black);
  border: none;
  padding: 6px 16px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.edit-btn:hover {
  transform: translateY(-3px);
  transition-duration: 0.4s;
  color: white;
  background-color: blue;
}

.delete-btn:hover {
  transform: translateY(-3px);
  transition-duration: 0.4s;
  color: white;
  background-color: red;
}
.delete-btn {
  background-color: var(--actions);
  color: red;
  border: none;
  padding: 6px 16px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
font-size: 1em;
}