.data {
  background: var(--cards);
  color: var(--black);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;

}

.data:hover {
  transform: translateY(-3px);
  transition-duration: 0.5s;
  background-color: var(--cardsHover);
  cursor: pointer;
}

.total-registers {
  font-family: 'Poppins';
  font-weight: 300;
  color: var(--numCad1);
}

.last-registers {
  font-family: 'Poppins';
  font-weight: 300;
  color: var(--numCad2);
}

.pendencies {
  font-family: 'Poppins';
  font-weight: 300;
  color: var(--numCad3);
}

.data h3 {
  font-size: 3em;
  padding: 0;
  margin: 0;
}

