body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 20px;
}

main {
  background-color: var(--main);
  flex: 1;
  overflow-y: auto;
}

.aling-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  color: var(--title);
}

::ng-deep #print.button {
  background-color: rgb(1, 1, 175) !important;
  padding: 1em !important;
  border-radius: 8px !important; 
  border: none !important;
  color: white !important;
  width: 100% !important;
}

.section-main {
  padding: 1.5em;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
  flex-wrap: wrap;
  border: none;
  padding: 1em;
}

.pagination button {
  padding: 0.4em 0.8em;
  border: none;
  background-color: var(--btpagination);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--btPagHover);
}

.pagination button:disabled {
  background-color: #555353;
  color: var(--btInactive);
  cursor: not-allowed;
}

.pagination .page-active {
  background-color: var(--btActive);
  color: var(--white);
font-weight: bold;
}

.selected {
  border: 1px solid var(--black);
  box-shadow: 0 0 2px var(--black);
  transform: scale(1.06);
  transition: 0.3s ease;
}