body {
  display: flex;
  height: 100vh;
  margin: 0;
}

#table-logs td[colspan="3"] {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: rgb(209, 201, 201); 
}

.content table tr:hover {
  cursor: default !important;
}

h2 {
  color: var(--logo-sigla);
}

main {
  background-color: var(--main);
  flex: 1;
  overflow-y: auto;
}

.title{
  color: var(--title);
}

.aling-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.section-main {
  padding: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--table);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 1em;
  border-bottom: 1px solid var(--td);
  text-align: left;
  color: var(--black);
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 1em;
  flex-wrap: wrap;
  border: none;
  padding: 1em;
}

.pagination button {
  padding: 0.4em 0.8em;
  border: none;
  background-color: var(--btpagination);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover:not(:disabled) {
  background-color: var(--btPagHover);
}

.pagination button:disabled {
  background-color: #555353;
  color: var(--btInactive);
  cursor: not-allowed;
}

.pagination .page-active {
  background-color: var(--btActive);
  color: var(--white);
font-weight: bold;
}

.selected {
  border: 1px solid var(--black);
  box-shadow: 0 0 2px var(--black);
  transform: scale(1.06);
  transition: 0.3s ease;
}