<section class="user-table">
  <table>
    <caption>{{ titleTable }}</caption>
    <thead>
      <tr>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody [id]="idTable">
      <tr *ngFor="let r of registers" (click)="onRowClick(r.id)"
        [ngClass]="{ 'status-inactive': isInactive(r) }"
      >
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.key === 'actions'; else defaultCol">
            <button class="edit-btn" (click)="edit.emit(r); $event.stopPropagation()">
              <i class="fa-solid fa-pencil"></i>
            </button>
            <button class="delete-btn" (click)="delete.emit(r); $event.stopPropagation()">
              <i class="fa-solid fa-trash"></i>
            </button>
          </ng-container>

          <ng-template #defaultCol>
            <span *ngIf="col.key === 'status'">
              {{ getStatusLabel(r.status) }}
            </span>

            <span *ngIf="col.key === 'dateRegister'">
              {{ r[col.key] | date:'dd/MM/yyyy HH:mm:ss' }}
            </span>

            <span *ngIf="col.key !== 'status' && col.key !== 'dateRegister'">
              {{ r[col.key] }}
            </span>
          </ng-template>

        </td>

      </tr>
    </tbody>
  </table>
</section>
