body.login {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#4D69E1, #378BDE, #8779E0);
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html, body { 
	height: 100%; 
	font-family: Arial, sans-serif;
	margin: 0;
}

:root{
	--border: #e3e4e9;
	--aside: White;
	--logo: #C3E0DC;
	--logo-acronym: black;
	--subtitle: black;
	--active: #000000;
	--header: White;
	--search: #f1f3f5;
	--btTheme: #444444;
  	--themeHover: rgb(61, 58, 58);
	--user-avatar: #ccc; 
	--icon-avatar: #555;
	--logout: red;
  	--logoutHover: rgb(212, 15, 15);
	--black: black;
	--white: white;
	--main: #f1f3f5;
	--cards: White;
  	--cardsHover: #c7c7c75e;
	--numCad1: #1702d6;
	--numCad2: green;
	--numCad3: red;
	--textCad: black;
	--table: White;
	--caption: black;
  	--td: rgb(228, 221, 221);
  	--inactive: gray;
	--btpagination: #0e37ec;
	--btPagHover: #162e88;
	--textPagination: white;
	--btInactive: #aaa;
	--btActive: #ebebeb;
	--shadow: black;
	--actions: rgb(240, 234, 234);
	--popupInfo: #ffffff;
	--strong: #333;
	--input: white;
}
[dark-theme="dark"]{
	--border: #2a2a2a;
	--aside: #1e1e1e;
	--logo: #464949;
	--logo-acronym: #56b6c2;
	--subtitle: white;
	--active: #56b6c2;  
	--header: #1e1e1e;;
	--search: #333333;;
	--btTheme: #333;
	--themeHover: #555151;
	--user-avatar: #555555;; 
	--icon-avatar: rgb(184, 178, 178);
	--logout: red;
	--logoutHover: rgb(212, 15, 15);;
	--black: white;
	--white: black;
	--main: #1e1e1e;
	--cards: #2b2b2b;
	--cardsHover: #a39d9d1a;
	--numCad1: #56b6c2;
	--numCad2: green;
	--numCad3: red;
	--textCad: white;
	--table: #121212;
	--caption: #56b6c2;
	--td: ;
	--inactive: gray;
	--btpagination: #0e37ec;
	--btPagHover: #162e88;
	--textPagination: white;
  	--btInactive: #aaa;
 	--btActive: #ebebeb;
	--shadow: black;
	--title: #56b6c2;
	--actions: #333;
	--popupInfo: #1e1e1e;
	--strong: #8ad4d1;
	--input: #2a2a2a;
}

